openapi: 3.0.0

info:
  title: SeichiAPISchema
  description: 整地鯖のAPIのドキュメントをまとめるOpenAPIサーバー
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://github.com/GiganticMinecraft/seichi-api-schema/blob/main/LICENSE

servers:
  - url: 'http://localhost:9000'
    description: seichi-portal-backend(開発環境)

paths:
  /forms:
    $ref: './paths/forms/index.yml'
  /forms/{formId}:
    $ref: './paths/forms/eachForm.yml'
  /questions:
    $ref: './paths/questions/index.yml'
  /questions/{questionId}:
    $ref: './paths/questions/eachQuestion.yml'
  /recaptcha:
    $ref: './paths/recaptcha/index.yml'
