name: Lint Typespec OpenAPI Definitions
on:
  push:

jobs:
  check-format:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Install typespec
        run: npm install -g @typespec/compiler

      - name: Cache npm modules
        uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install node_modules
        run: npm install

      - name: Check format
        run: tsp format --check "**/*.tsp"
